@font-face {
  font-family: 'Nunito';
  src: url('/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-primary text-white rounded-xl border border-primary hover:bg-white hover:text-primary hover:cursor-pointer transition duration-300;
}

.divider{
  @apply w-full h-[0.125rem] bg-lightgray;
}


*, *::before, *::after {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 4px; /* width for vertical scrollbar */
  height: 2px; /* height for horizontal scrollbar */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background: white; /* background color */
  border-radius: 4px; /* rounded corners */
}

/* Style the draggable thumb */
::-webkit-scrollbar-thumb {
  background: #605BFF; /* thumb color */
  border-radius: 4px;
}

/* Style on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0800ff /* darker thumb color on hover */
}
